With or Without replacement


1. Randomly picking 3 people to work onthe weekend from a group of 20 people
2. Randomly selecting 5 products from the assembly line to test for quality assurance
3. flipping a coin 3 times
4. Rolling a dice twice
5. from a dec of cards, dealing 3 players 7 cards each

#### Calculating Probabilies
You're in charge of the sales team, and it's time for performance reviews, starting with Amir. As part of the review, you want to randomly select a few of the deals that he's worked on over the past year so that you can look at them more deeply. Before you start selecting deals, you'll first figure out what the chances are of selecting certain deals.

Recall that the probability of an event can be calculated by

<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
  <mi>P</mi>
  <mo stretchy="false">(</mo>
  <mtext>event</mtext>
  <mo stretchy="false">)</mo>
  <mo>=</mo>
  <mfrac>
    <mtext># ways event can happen</mtext>
    <mtext>total # of possible outcomes</mtext>
  </mfrac>
</math>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
url ='https://raw.githubusercontent.com/rupaniraheel/datacamp/main/Introduction-to-statsitics/datasets/deals.csv'
deals = pd.read_csv(url)
deals.head()

   Unnamed: 0    product   client status   amount  num_users
0           1  Product F  Current    Won  7389.52         19
1           2  Product C      New    Won  4493.01         43
2           3  Product B      New    Won  5738.09         87
3           4  Product I  Current    Won  2591.24         83
4           5  Product E  Current    Won  6622.97         17

In [5]:
counts = deals['product'].value_counts()
print(counts)

product
Product B    62
Product D    40
Product A    23
Product C    15
Product F    11
Product H     8
Product I     7
Product E     5
Product N     3
Product G     2
Product J     2
Name: count, dtype: int64